{% extends "base.html" %} {% block content %}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="text-uppercase">About</h1>
        <h3 class="text-muted section-subheading">
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-group timeline">
          <li class="list-group-item">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="static/img/about/1.jpg"
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <!-- <h4>2009-2011</h4> -->
                <h4>BEGINNING=POSSIBILITIES</h4>
              </div>
              <div class="timeline-body">
                <div class="container" style="text-align: justify;">
                <p class="text-muted">
                  To commemorate my journey, which began 13 years ago when a
                  post-graduation dropout full of enthusiasm and heat within
                  wanted to explore entrepreneurship in a bid to create a unique
                  identity for herself. Call it mystic, but my first
                  entrepreneurial venture started with a wrong phone call from a
                  consultant which led me to meet my first employer. Together,
                  we worked on a concept and strived hard for its success. It
                  took a lot of time and hard work in the evolving and fast
                  pacing competitive education industry to make our mark. But
                  our consistent hard work did lead us to success, and the
                  business was witnessing rapid growth. We were a great team and
                  knew we could do something great together.
                </p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item timeline-inverted">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="static/img/about/2.jpg"
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <!-- <h4>March 2011</h4> -->
                <h4>CHALLENGES=GROWTH</h4>
              </div>
              <div class="timeline-body">
                  <div class="container" style="text-align: justify;">
                <p class="text-muted">
                  My first break as an entrepreneur was when I turned into a
                  business partner for the project. Since then, we have been
                  through several ups and downs and instances where I really had
                  to struggle to keep myself motivated. But over the years,
                  being an entrepreneur has been a rewarding journey, and I am
                  now contributing my significance in GlobalEdugate, the
                  Aggregator platform in Ed Tech Industry. There is no perfect
                  timing to do something which contributes towards social
                  benefit and parallels, I feel good to contribute towards the
                  empowerment of youth by advising them during the early stage,
                  and other startups in agrotech & service-based industries. I
                  am a mentor to “Farmers City” & supporting & mentoring other
                  startups to uplift through an initiative called “Startup
                  Stairs”.
                </p>
            </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="static/img/about/3.jpg"
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>ASSOCIATIONS=PROSPERITY</h4>
              </div>
              <div class="timeline-body">
                <div class="container" style="text-align: justify;">
                <p class="text-muted">
                  I strongly believe in collaborating and working, I am actively
                  collaborating with a number of people in my professional
                  network, for a few I am the advisor & mentor, and for many, I
                  am providing the growth hacking platform to help their brand
                  expansion and excel on sustainable & scalable business models.
                </p>
              </div>
              </div>
            </div>
          </li>
          <li class="list-group-item timeline-inverted">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="static/img/about/4.jpg"
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>SHARING=ABUNDANCE</h4>
              </div>
              <div class="timeline-body">
                <div class="container" style="text-align: justify;">
                <p class="text-muted">
                  Over the years, I have also realized the importance of sharing
                  my experiences with the youth to help them grow as an
                  entrepreneur, and more importantly, as an individual. With
                  this goal in mind, I created this website and put in all my
                  learning and thoughts to share with the young aspiring
                  entrepreneurial minds.
                </p>
              </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src="static/img/about/4.jpg"
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>CREATING=VALUE</h4>
              </div>
              <div class="timeline-body">
                <div class="container" style="text-align: justify;">
                <p class="text-muted">
                  My book “A Woman Unparalleled” talks about a host of common
                  problems that millennials of India commonly struggle with
                  within their personal and professional lives. I have tried to
                  share the valuable learnings of my entrepreneurial journey
                  with budding entrepreneurial minds. A Woman Unparalleled: The
                  Millennial's Guide to Create One's Self Worth Get a free copy
                  now! I am now on a dedicated mission to encourage the youth of
                  India to actively participate in nation-building.
                </p>
              </div>
              </div>
            </div>
          </li>
          <li class="list-group-item timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part<br />&nbsp;Of Our<br />&nbsp;Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
