{% extends "base.html" %} {% block content %}


<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="text-uppercase section-heading">BLOGS</h1>
        <h3 class="text-muted section-subheading">
          Lorem ipsum dolor sit amet consectetur.
        </h3>
      </div>
    </div>

    <div class="container">
        <a href="/create-post" class="btn btn-primary">CREATE POST+</a>

    </div>


    <main class="my-5">
      <div class="container">
        {% for post in posts %}
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
              <img src="data:;base64,{{post.rendered_image}}" alt="" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-8 mb-4">
            <h4 style="text-transform: uppercase;" >{{ post.title }}</h4>
            <p><i>
              {{ post.summary }}
            </i>
              
            </p>

            <a href="/posts/{{post.id}}" class="btn btn-primary">Read</a>
            <a href="/update-post/{{post.id}}" class="btn btn-primary">Update</a>
            <a href="/delete-post/{{post.id}}" class="btn btn-primary">Delete</a>
          </div>
        </div>
        {% endfor %}
        <br>
      </div>
    </main>
  </div>

  </div>
</section>
{% endblock %}