{% extends "base.html" %} {% block css %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
  media="screen"
/>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<style>
  /* Parent Container */
  .content_img {
    position: relative;
    float: left;
    margin-right: 10px;
  }

  /* Child Text Container */
  .content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }

  /* Hover on Parent Container */
  .content_img:hover {
    cursor: pointer;
  }

  .content_img:hover div {
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
  }
  body {
    background-color: #1d1d1d !important;
    font-family: "Asap", sans-serif;
    color: #989898;
    margin: 10px;
    font-size: 16px;
  }

  #demo {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .green {
    background-color: #6fb936;
  }
  .thumb {
    margin-bottom: 30px;
  }

  .page-top {
    margin-top: 85px;
  }

  img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .transition {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  .modal-header {
    border-bottom: none;
  }
  .modal-title {
    color: #000;
  }
  .modal-footer {
    display: none;
  }
</style>
<script>
  $(document).ready(function () {
    $(".fancybox").fancybox({
      openEffect: "none",
      closeEffect: "none",
    });

    $(".zoom").hover(
      function () {
        $(this).addClass("transition");
      },
      function () {
        $(this).removeClass("transition");
      }
    );
  });
</script>
{% endblock %} {% block content %}
<section id="gallery">
  {% if user.is_authenticated and id.id==1 %}
  <div class="container">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModalCenter"
    >
      Add photo+
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 10px">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              Add a Photo
            </h5>
          </div>
          <div class="modal-body">
            <form
              class="row g-3 needs-validation"
              id="new_photo"
              name="new_deck"
              method="POST"
              action="/gallery"
              enctype="multipart/form-data"
            >
              <input
                class="form-control"
                type="file"
                placeholder=""
                aria-label="default input example"
                required
                name="photo"
              />
              <textarea class="form-control" name="captions" id="captions" rows="2" cols="1" required></textarea>
            </form>
            <br />
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              class="btn btn-dark"
              name="photo"
              type="submit"
              form="new_photo"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <br />
  <div class="container">
    <div class="row">
      {% for image in images %}
      <div class="col-lg-3 col-md-4 col-xs-6 thumb content_img">
        <a
          href="data:;base64,{{image.rendered_image}}"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="data:;base64,{{image.rendered_image}}"
            class="zoom img-fluid"
            alt=""
          />
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa nihil quis cumque sint cum accusantium unde</div>
        </a>
        
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Container -->
</section>
{% endblock %}
