{% extends "base.html" %}
{% block content %}
<header class="masthead" style="background-image: url('static/img/header-bg.jpg');">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">
                    <div class="intro-lead-in">
                        <span style="text-align: justify;"><br />An Inquisitive Brain, Sharing Hard Earned Learnings
                            with
                            Like-Minds, Diving Crazily in the Ocean of Startups!<br /><br /></span>
                    </div>
                    <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#bio">Tell me more</a>
                </div>
            </div>

            <div class="intro-heading text-uppercase"></div>

        </div>
    </div>
</header>
<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-uppercase section-heading">my bio</h1>
                <br />
                <div class="col-lg-6">
                    <h3 class="text-muted" style="
              text-align: justify;
              font-family: Cambria, cursive, Georgia, Fserif;
            ">
                        <br />Blogging has always been a hobby and cathartic experience
                        for me. Turning my passion into a fulfilling career has been one
                        of my greatest life achievements. Since 2000, I’ve been writing
                        my butt off to build my blog, constantly educating myself with
                        new ideas and challenging myself with different blogging
                        techniques.I hope you enjoy reading my blog posts as much as I
                        enjoy writing them. And most importantly, I would love to hear
                        from you all, learn about you, your interests, and what you’d
                        like me to write next.
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
</section>
{% endblock %}
